.App {
  text-align: center;
}



.Card__in{
  padding-top: 30px;
  display: flex;
}


.Library__item{

}


/* весь контейнер поддерживает перспективу */
.flip-container {

  margin: auto;
  perspective: 1000px;
  display: flex;
}
/* переверните сторону при проведении мышью */
.flip-container:visited .flipper, .flip-container.visited .flipper {
  transform: rotateY(180deg);
  display: flex;
}


/* здесь находится скорость перевертывания */
.flipper {
  transition: 0.3s;
  transform-style: preserve-3d;
  display: flex;
}

/* скройте обратную сторону во время переворота */
.front, .back {
  backface-visibility: hidden;

}

/* лицевая сторона размещена над обратной */
.front {
  z-index: 2;
}

/* обратная, изначально скрытая сторона */
.back {
  transform: rotateY(180deg);
}




