.App {
  text-align: center;
}

.usefulCard{
  padding-top: 20px;
  text-align: center;
}

.TabbarItem__text{
  font-size: 18px;
}
/*.usefulCard:hover{
  transform: rotateY(180deg);

}*/
/*.TabbarItem__text{
  font-size: 24pt;
}

.Card__in{
  font-size: 18pt;
  padding-left: 50px;
  padding-top: 30px;
}

.Header__content{
  font-size: 23pt;

}*/

